<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Repository Summary</title>
    <link rel="stylesheet" href="/styles.css" />
    <style>
      ul,
      li {
        list-style-type: none;
      }
    </style>
  </head>

  {% macro commit_event_macro(event) %}
  <details class="border border-gray-300 rounded-md p-4 mb-4">
    <summary class="font-semibold text-lg">{{ event.headline | safe }}</summary>
    <p class="mt-2">{{ event.body | safe }}</p>
    <a href="{{ event.url }}" class="text-blue-500 hover:underline">View Commit</a>
    <span class="abbreviated-oid">{{ event.abbreviatedOid }}</span>
    {% if event.build_success %}
    <a href="./builds/{{ event.abbreviatedOid }}/index.html" class="text-blue-500 hover:underline">View Build</a>
    {% endif %}
  </details>
  {% endmacro %} {% macro prompt_event_macro(event) %}
  <details class="border border-gray-300 rounded-md p-4 mb-4 {% if not event.merged %}opacity-50{% endif %}">
    <summary class="font-semibold text-lg">{{ event.headline | safe }}</summary>
    <p class="mt-2">{{ event.body | safe }}</p>
    <div class="pull-request-list mt-2">
      <ul>
        {% for pr in event.pull_requests %}
        <li class="{% if not pr.merged %}opacity-50{% endif %}">
          {% if pr.merged %} - <a href="{{ pr.url }}" class="text-blue-500 hover:underline">Merged</a> {% else %} -
          <a href="{{ pr.url }}" class="text-blue-500 hover:underline">Unmerged</a>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="builds mt-2">
      {% if event.build_success and event.merged %}
      <a href="./builds/{{ event.abbreviatedOid }}/index.html" class="text-blue-500 hover:underline">View Build</a>
      {% else %} No merges and no builds. {% endif %}
    </div>
  </details>
  {% endmacro %}

  <body class="bg-gray-100 text-gray-900">
    <h1 class="text-3xl font-bold mb-6">Summary of Significant Activity</h1>
    <ul>
      {% for event in events %}
      <li>
        {% if event.issue %} {{ prompt_event_macro(event) }} {% else %} {{
        commit_event_macro(event) }} {% endif %}
      </li>
      {% endfor %}
    </ul>
    <script type="module" src="/src/main.ts"></script>
  </body>
</html>
